* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #2799db;
  color:
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color:#2799db;
  color #e622bb;
  padding: 20px 0;
  margin-bottom: 20px;
}

header h1 {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #1916c4;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

section h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

section p {
  margin-bottom: 20px;
  font-size: 18px;
}

.project-card {
  background-color: #2799db;
  border: 1px solid #e622bb;
  padding: 15px;
  margin-bottom: 20px;
}

footer {
  background-color: #1916c4;
  color: #1916c4;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.video/mp4 {
  width: 400;
  height: 200;
}
